body{
   background:linear-gradient(125deg,rgb(238, 68, 238),rgb(104, 205, 236));
      font-family: 'Poppins', sans-serif;
}
.container{
   width: 360px;
   padding: 33px;
   text-align: center;
   background-color: #edf2f4;
   margin-left: 33%;
   margin-top: 5px;
}
input{
   width: 270px;
   padding: 8px;
   border: 2px solid #ef233c ;
   outline: none;
   font-size: 19px;
   border-radius: 4px;
}
button{
   width: 60px;
   height: 41px;
   background:linear-gradient(125deg,rgb(238, 68, 238),rgb(104, 205, 236));
   color: white;
   border: none;
   cursor: pointer;

   outline: none;
   border-radius: 4px;
   font-size: 19px;
}
.text ul{
   position: relative;
   background:linear-gradient(125deg,rgb(238, 68, 238),rgb(104, 205, 236));
   color: white;
   font-size: 19px;
   padding: 7px;
   text-align: left;
}
.text ul i{
   position: absolute;
   right: 10px;
   cursor: pointer;
}
